/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  max-width: 100%;
  max-height: 100%;
  background-image: url(../images/inspired-horizons-digital-marketing-2J4n47XPS1Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
}
.container h1 {
  font-size: 12rem;
  color: white;
  text-shadow: 7px 7px black;
  text-align: center;
  margin: 7%;
}
.container .get-started-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .get-started-button button {
  width: 70%;
  background-color: orange;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px black;
  padding: 2%;
  border: 5px solid white;
  border-radius: 20px;
  margin-bottom: 3%;
}
.container button:hover {
  background-color: white;
  color: orange;
}
body {
  max-width: 100%;
  background-image: url(../images/eric-mills-6ysUHAgX8tY-unsplash.jpg);
  background-size: cover;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: orange;
}
.header nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header nav button {
  width: 30%;
  border-radius: 10px;
  color: orange;
  background-color: white;
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}
.header nav button:hover {
  color: white;
  background-color: black;
}
.header h1 {
  width: 70%;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px black;
  padding: 1%;
}
.team-member-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member-boxes .team-member {
  width: 50%;
  padding: 2%;
  background-color: black;
  border: 5px solid orange;
  margin: 2% 0;
  text-align: center;
}
.team-member-boxes .team-member img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.team-member-boxes .team-member h2 {
  color: white;
  font-size: 3rem;
}
.team-member-boxes .team-member h3 {
  color: white;
  font-size: 1.5rem;
  text-decoration: underline;
}
.team-member-boxes .team-member p {
  color: white;
  font-size: 1rem;
  margin-top: 1%;
}
footer {
  width: 100%;
  background-color: orange;
}
footer p {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  text-align: center;
  padding: 1% 0;
}
